@import url("https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;

  &--primary {
    color: #fff;
    background: #303069;
    border: 1px solid #303030;

    &:hover {
      color: #303069;
      background: #fff;
    }
  }

  &--secondary {
    color: #303069;
    background: #fff;
    border: 1px solid #303030;

    &:hover {
      color: #fff;
      background: #303069;
    }
  }

  &--delete {
    background: red;
    color: #fff;
    border: 1px solid red;

    &:hover {
      background: #fff;
      color: red;
    }
  }
}

.no-profile {
  margin: 150px 0;
  text-align: center;
}

.scroll-loader {
  display: block;
  margin: 0 auto;
}
